# Windows note: folders should not end with a slash
include AUTHORS
include README.rst
include CHANGES.rst
include LICENSE
recursive-include fluent_dashboard/locale *.mo *.po
recursive-include fluent_dashboard/templates/fluent_dashboard *.html
recursive-include fluent_dashboard/static/fluent_dashboard *.css *.png *.txt
